.x
		{
			width: 60%;
			height: 600px;
			margin-right: 20%;
			margin-left: 20%;
			background-color: pink;			
		}
		.y
		{
			width: 99%;
		}
		.r1
		{
			color: blue;
			text-decoration: underline;
			text-align: center;
		}